.has-dark-background .unsplash-credit,
.unsplash-credit.has-dark-background {
  color: #b4b3b4;
}

.has-dark-background .unsplash-credit a,
.unsplash-credit.has-dark-background a {
  color: #b4b3b4;
}

.has-dark-background .unsplash-credit a:hover,
.unsplash-credit.has-dark-background a:hover {
  color: #b4b3b4;
  text-decoration: underline;
}
