@import '~bulma/css/bulma.css';
@import "https://fonts.googleapis.com/css?family=Cuprum&display=swap";

body {
  font-family: 'Cuprum', sans-serif;
  font-size: 1.5rem;
}

.button {
  font-family: 'Cuprum', sans-serif;
  font-size: 1.25rem;
}

.party-box .modal-card .modal-card-head {
  background: white url('./imgs/flags.png') top right no-repeat;
  background-size: contain;
}
